  .error {
    background: linear-gradient(#39393A, #192433); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
  }

.error__container{
    color: white;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.error__container h1{
    font-size: 300px;
    padding: 0px;
    margin-top: -50px;
    margin-bottom: 20px;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.error__container p{
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}
.error__text{
    color: white;
    font-size: 30px;
}

