.androide16{
    background: url('../icos/android-16.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.androide17{
    background: url('../icos/android-17.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.androide18{
    background: url('../icos/android-18.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.androide21{
    background: url('../icos/android-21.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.bardock{
    background: url('../icos/bardock.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gokubase{
    background: url('../icos/base-goku.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.vegetabase{
    background: url('../icos/base-vegeta.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.bills{
    background: url('../icos/beerus.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.brolyz{
    background: url('../icos/broly.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.ginyu{
    background: url('../icos/captain-ginyu.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.celula{
    background: url('../icos/cell.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}


.cooler{
    background: url('../icos/cooler.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.freezer{
    background: url('../icos/frieza.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.zamasuf{
    background: url('../icos/fused-zamasu.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gogetab{
    background: url('../icos/gogeta.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gohanssj{
    background: url('../icos/gohan.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gohana{
    background: url('../icos/gohan-adult.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gokussj{
    background: url('../icos/goku.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gokublack{
    background: url('../icos/goku-black.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gokublue{
    background: url('../icos/goku-ssb.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gotenks{
    background: url('../icos/gotenks.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.hit{
    background: url('../icos/hit.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.janemba{
    background: url('../icos/janemba.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.jiren{
    background: url('../icos/jiren.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.kefla{
    background: url('../icos/kefla.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.kidbuu{
    background: url('../icos/kid-buu.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.gokugt{
    background: url('../icos/kid-goku.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.krillin{
    background: url('../icos/krillin.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.majinbuu{
    background: url('../icos/majin-buu.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.nappa{
    background: url('../icos/nappa.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.piccoro{
    background: url('../icos/piccolo.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.brollydbs{
    background: url('../icos/super-broly.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.vegitoblue{
    background: url('../icos/super-saiyan-blue-vegito.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.tien{
    background: url('../icos/tien.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.trunks{
    background: url('../icos/trunks.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.vegetassj{
    background: url('../icos/vegeta.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.vegetablue{
    background: url('../icos/vegeta-ssb.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.videl{
    background: url('../icos/videl.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}

.yamcha{
    background: url('../icos/yamcha.png') no-repeat;
    display: inline-block;
    height: 95px;
    width: 90px;
    color: transparent;
}